<section class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title is-2">Login</h2>
      <form class="" action="/login" method="post">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="email" type="email" placeholder="handmade@gmail.com" >
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="password" type="password" placeholder="password" value="">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-dark">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
