<nav class="navbar is-light is meidum">
  <div class="navbar-start">
    <h2 class="title is-2"><a href="/">
      <figure class="image is-48x48">
        <img class="is-rounded" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/11083676_1379429762384000_3531785969164519281_n.jpg?_nc_cat=100&_nc_ht=scontent-lhr3-1.xx&oh=1fce6cdb819cb2596ed6ec81600fa8d5&oe=5C7A33ED">
      </figure>
    </a></h2>
  </div>
  <div class="navbar-end">
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/about">Idea</a></li>
      <li class="navbar-item"><a href="/handmades">Hand-mades</a></li>
    </ul>
  </div>
</nav>
