<nav class="navbar is-light">
  <div class="navbar-start">
    <h2 class="title is-2"><a href="/">
      <figure class="image is-64x64">
        <img  src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/11083676_1379429762384000_3531785969164519281_n.jpg?_nc_cat=100&_nc_ht=scontent-lhr3-1.xx&oh=1fce6cdb819cb2596ed6ec81600fa8d5&oe=5C7A33ED">
      </figure>
    </a></h2>
  </div>

  <div class="navbar-end">
  <%# <nav class="navbar" role="navigation" aria-label="dropdown navigation"> %>
  <div class="navbar-item has-dropdown is-hoverable">


  <% if(locals.isLoggedIn) { %>
    <div class="navbar is-light" >
    <a class="navbar-item"href="/logout" > Logout <%= locals.currentUser.username %> </a>
    <a class="navbar-item" href="/about"> Idea</a>
    <a class="navbar-item" href="/handmades">Hand-mades</a>
    <a class="navbar-item" href="/handmades/tools">Tools</a>
    <a class="navbar-item" href="/user/<%= locals.currentUser._id %>">My profile</a>
    <hr class="navbar-divider">
    <div class="navbar-item"> Coming soon</div>
    </div>

    <% } else {%>
      <a  id="nav" class="navbar-link" ></a>
      <div class="navbar-dropdown is-light " >
      <a class="navbar-item" href="/about"> Idea</a>
      <a class="navbar-item" href="/handmades/tools"> Tools</a>
      <a class="navbar-item" href="/handmades">Hand-mades</a>
      <hr class="navbar-divider">
      <div class="navbar-item"> Coming soon</div>
      </div>
      <% }%>

  </div>
</nav>
