<section class="section">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">About Hand-Made</h1>
        <h2 class="subtitle">JUST DIY!!!</h2>
      </div>
    </div>
  </section>
