<body class="home">
  <section class="section">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title addicts">FOR HAND-MADE ＡDDICTS</h1>
          </br>
          <h2 class="subtitle lover"> A diary for hand-made lovers</h2>
          <div class="box">
           <div class="field is-grouped">
            <% if (locals.isLoggedIn) { %>
              <p class="control is-expanded welcome">Welcome to My Hand-making Diary <%= locals.currentUser.username %> </p>
              <% } else { %>
                <p class="control is-expanded sign">Welcome to My Hand-made Diary. Sign up to explore...</p>
                <div class="control">
                 <a href="/login"class="button is-light">Log in</a>
                </div>
                <div class="control">
                 <a href="/register"class="button is-dark">Sign Up</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
