<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
   <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet">
  <title>My Hand-making Diary</title>
 </head>
  <body>
    <% include ./partials/header %>
    <section class="section">
    <%- body %>
  </section>
  <section class="section">
  <% include ./partials/footer %>
</section>
  </body>

</html>
