<body class="home">
  <section class="section">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title addicts">FOR HAND-MADE ＡDDICTS</h1>
          </br>
          <h2 class="subtitle lover"> A diary for hand-made lovers</h2>
          <div class="box">
           <div class="field is-grouped">
                <p class="control is-expanded sign">Bye bye!!</p>
                <div class="control">
                   <a href="/login"class="button is-light">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
