<h1><%= username %></h1>
<h1>Handmades I have commented on </h1>

<% comments.forEach(comment => { %>
  <p><strong><%= comment.name %></strong></p>
<% })%>

<h1>Handmades I have added </h1>
<% addedHandmades.forEach(handmade => { %>
    <p><strong><%= handmade.name %></strong></p>
<% }) %>
