div#masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* height: 100vw; */
  max-height: 500px;
  font-size: 0;
}
div#masonry img {
  transition: .9s opacity;
  padding: 7px;
  border-radius: 20px;
  /* width: 33.3%; */
}

div#masonry:hover img { opacity: 0.1; }
div#masonry:hover img:hover { opacity: 0.1; }

h2{
  font-family: 'Charmonman', cursive;
}
h1{
    font-family: 'Mali', cursive;
}
p{
  font-family: 'Mali', cursive;
}
li {
  font-family: 'Mali', cursive;
  color:white;
}
#button {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
div#pic img {
  transition: .9s opacity;
  padding: 7px;
  border-radius: 20px;
  /* width: 33.3%; */
}
/* 
#home{
  background-color: grey;
} */
