#home {
  background-image: url("../images/unsplash.jpg");
  background-size: cover;
  margin: 10px;
}
#welcome {
  text-align: center;
  font-weight: bold;
}
#sign{
  font-size: 15px;
  text-align: center;
}
.box {
  margin-top: 80px;
}
#title{
  font-size: 40px;
  color: white;
  font-weight: bold;
}
#subtitle{
  font-size: 30px;
  color: white;
  font-weight: bold;
}
#nav{
  padding-left: 65px;
  opacity: 0.5;
}
div#masonry img {
  transition: .9s opacity;
  padding: 7px;
  border-radius: 20px;
}

div#masonry:hover img:hover {
  opacity: 0.1;
}

#concept{
    font-family: 'Indie Flower', cursive;
}
h4{
  font-family: 'Mali', cursive;
}

h1{
    font-family: 'Mali', cursive;
}
h2{
    font-family: 'Charmonman', cursive;
}
h3{
  font-family: 'Indie Flower', cursive;
}
p{
  font-family: 'Mali', cursive;
}
li {
  font-family: 'Mali', cursive;
}
#button {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
div#pic img {
  transition: .9s opacity;
  padding: 7px;
  border-radius: 20px;
  /* width: 33.3%; */
}

.footer {
  margin-top: 35px;
 padding-bottom: 2.3rem;
}
