<section class="section">
  <h2 class="title is-2">Contact</h2>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h3 class="subtitle is-3 email">
        Reach out to us by email
      <br />
        <a class="email"><i class="fas fa-envelope"></i> info@myhandmakingdiary.com</a>
      </h3>
      <h4 class="subtitle is-4">Find us 👇 </h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19865.57810153492!2d-0.12477539419793016!3d51.50959688944022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1541087590498" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
