<section class="section is-medium">
  <h2 class="title is-2">Contact</h2>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title is-2">Get in Touch</h2>
        <%# <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" name="name" type="text"  />
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
            <input class="input" name="email" type="email">
        </div>
        <div class="field">
          <label for='comment'>Say Something</label>
          <textarea class="textarea is-large" name='comment'></textarea>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-dark">Submit</button>
          </div>
        </div> %>
    </div>
  </div>
</section>
