
<h2 class="title is-2">Add a Hand-made</h2>

<form action="/handmades" method="post">
  <div class="field">
    <label class="label is-size-4" for="name">Name</label>
    <input class="input is-info" type="text" name="name">
  </div>

  <div class="field">
    <label class="label is-size-4" for="tools">Tools</label>
    <input class="input is-info" type="text" name="tools">
  </div>

  <div class="field">
    <label class="label is-size-4" for="colors">Materials</label>
    <input class="input is-info" type="text" name="colors">
  </div>

  <div class="field">
    <label class="label is-size-4" for="image">Image (URL)</label>
    <input class="input is-info" type="text" name="image">
  </div>

  <button class="button is-rounded is-info">Add</button>

</form>
