
<h2 class="title is-2">Add a Hand-made</h2>

<form action="/handmades" method="post">
  <div class="field">
    <label class="label is-size-4 is-normall" for="name">My hand-made</label>
    <input class="input is-rounded is-normall" type="text" name="name" placeholder="name">
  </div>

  <div class="field">
    <label class="label is-size-4" for="tools">Tools</label>
    <input class="input is-rounded is-normall" type="text" name="tools" placeholder="tools">
  </div>

  <div class="field">
    <label class="label is-size-4" for="material">Materials</label>
    <input class="input is-rounded is-normall" type="text" name="materials" placeholder="materials">
  </div>

  <div class="field">
    <label class="label is-size-4" for="image">Image (URL)</label>
    <input class="input is-rounded is-normall" type="text" name="image" placeholder="image URL">
  </div>
  <div class="field">
    <label class="label is-size-4" for="concept">Concept</label>
    <%# <input class="input is-rounded is-large" type="text" name="concept" placeholder="concept"> %>
    <textarea class="textarea" placeholder="concept">Concept</textarea>
  </div>
  <button class="button is-rounded is-dark">Add</button>
</form>
