<section class="section is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h2 class="title is-2">All the Tools</h2>
        <h3 class="title is-3">Coming soon...</h3>
      </div>
    </div>
  </section>
